<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Horses On Horse Shoes Remake" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <section class="ml-5">
      <div class="ml-5">
        <header>
          <h1 class="text-5xl font-bold"><%= link_to 'Horses on Rails', root_path %></h1>
          <h2 class="text-3xl">Look at all the pretty horses standing in a <strong>row, row, row</strong>.</h2>
        </header>
        <%= render partial: 'shared/search_form' %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
